{erl_opts, [debug_info]}.
{deps, [
        {epcap, "0.7.9", {git, "git://github.com/msantos/epcap", {tag, "0.7.9"}}},
        {osmo_ss7, "1", {git, "git://github.com/jbdamiano/osmo_ss7", "master"}},
        {osmo_sccp, "1", {git, "git://github.com/jbdamiano/osmo_sccp.git", "master"}},
        {osmo_map, "1", {git, "git://github.com/fairwaves/osmo_map", {branch, "master"}}}
	]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["rel"]}.

{relx, [{release, {ss7MAPer, "2.0.0"},
         [kernel,
         stdlib,
         sasl,
         ss7MAPer]},
        {sys_config,  "./config/sys.config"},
        {vm_args,     "./config/vm.args"},
        {dev_mode, true},
        {include_src, true},
        {include_erts, false},
        {extended_start_script, true}]
}.
